<!DOCTYPE html>
<html lang="zh-CN">
{% include head.html -%}
<body>
{% include header.html -%}
<div class="page page-post">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">{{site.author}} 于 {{ page.date | date: "%Y-%m-%d" }} 发布</div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
  {% if site.extAdsense -%}
  <div class="adsense" style="overflow: hidden;">
    {% include ext-adsense.html -%}
  </div>
  {% endif %}
</div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

        clientID: '274c60fe21676c3b6011',
        clientSecret: '0d2dac989c0e1aeb3594f2a85c9efe0052a85330',
        repo: 'cecilia-pj.github.io',
        owner: 'Cecilia-pj',
        admin: ['Cecilia-pj'],
        id:window.location.pathname,

    });
    gitalk.render('gitalk-container');
</script> 
{% include footer.html -%}
{% include script.html -%}
</body>
</html>
